How to get no of rows at each partition

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession \
    .builder \
    .getOrCreate()

sc = spark.sparkContext

Read File

In [4]:
df = spark.read.csv('/home/phillipefs/spark_dev/pyspark-real-time-scenarios/outfiles/emp/*/*/', header=True)
df.show()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  2022-01-01|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|  2022-01-01|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|  2022-01-05|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  2022-01-04|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|  2022-01-04|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|  2022-01-04|
| 1234|SEKHAR|   doctor|7777|9999-12-31| 667|  78|    80|  2022-01-03|
| 1234|   RAM|    CLERK|7457|9999-12-31| 494| 588|    80|  2022-01-07|
| null|  null|     null|null|9999-12-31|null|null|  null|        null|
| null|  null|     null|null|9999-12-31|null|null|  null|        null|
| null|  null|     null|null|9999-12-31|null|null|  null|        null|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|  2022-01-03|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|null|    10|  2022-01-02|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|  2022-01-05|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|null|    10|  2022-01-05|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|null|    30|  2022-01-03|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|null|    20|  2022-01-03|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|null|    30|  2022-01-07|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|null|    20|  2022-01-07|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|null|    10|  2022-01-02|
+-----+------+---------+----+----------+----+----+------+------------+
only showing top 20 rows

Get rows at each partition

In [5]:
df.rdd.getNumPartitions()

11

Numbers rows Partition

In [6]:
df.select(spark_partition_id().alias("part_id")).groupBy("part_id").count().show()

+-------+-----+
|part_id|count|
+-------+-----+
|      0|    6|
|      1|    5|
|      2|    4|
|      3|    4|
|      4|    2|
|      5|    2|
|      6|    2|
|      7|    2|
|      8|    2|
|      9|    2|
|     10|    2|
+-------+-----+

Another method get numbers rows Partitions

In [9]:
partition_counts = df.rdd.glom().map(len).collect()
print(partition_counts)

[6, 5, 4, 4, 2, 2, 2, 2, 2, 2, 2]

Partitioning the dataframe

In [7]:
avg_count = df.count() // df.rdd.getNumPartitions()
df_repartition = df.repartition(int(avg_count))

partition_counts = df_repartition.rdd.glom().map(len).collect()
print("Rows/Partitions")
print(partition_counts)

Rows/Partitions
[13, 10, 10]