Convert pyspark string to date format issue dd-mm-yy old format

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession \
    .builder \
    .getOrCreate()

sc = spark.sparkContext

In [6]:
df = spark.read.csv('/home/phillipefs/spark_dev/pyspark-real-time-scenarios/data/emp_date_convert.csv', header=True)
df.show()

+-----+------+---------+----+--------+----+----+------+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|
+-----+------+---------+----+--------+----+----+------+
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|04-02-81|2975|null|    20|
| 7654|MARTIN| SALESMAN|7698|21-09-81|1250|1400|    30|
| 7698|   SGR|  MANAGER|7839|05-01-81|2850|null|    30|
| 7782|  RAVI|  MANAGER|7839|06-09-81|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20|
| 7839|  KING|PRESIDENT|null|01-11-81|5000|null|    10|
| 7844|TURNER| SALESMAN|7698|09-08-81|1500|   0|    30|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20|
| 7900| JAMES|    CLERK|7698|12-03-81| 950|null|    30|
| 7902|  FORD|  ANALYST|7566|12-03-81|3000|null|    20|
| 7934|MILLER|    CLERK|7782|01-03-82|1300|null|    10|
| 1234|SEKHAR|   doctor|7777|31-12-99| 667|  78|    80|
+-----+------+---------+----+--------+----+----+------+

In [7]:
df.withColumn("HIREDATE_CONVERT", to_date(col("HIREDATE"), format="dd-MM-yy")).show()

+-----+------+---------+----+--------+----+----+------+----------------+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|HIREDATE_CONVERT|
+-----+------+---------+----+--------+----+----+------+----------------+
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20|      2080-12-17|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30|      2081-02-20|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30|      2081-02-22|
| 7566| JONES|  MANAGER|7839|04-02-81|2975|null|    20|      2081-02-04|
| 7654|MARTIN| SALESMAN|7698|21-09-81|1250|1400|    30|      2081-09-21|
| 7698|   SGR|  MANAGER|7839|05-01-81|2850|null|    30|      2081-01-05|
| 7782|  RAVI|  MANAGER|7839|06-09-81|2450|null|    10|      2081-09-06|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20|      2087-04-19|
| 7839|  KING|PRESIDENT|null|01-11-81|5000|null|    10|      2081-11-01|
| 7844|TURNER| SALESMAN|7698|09-08-81|1500|   0|    30|      2081-08-09|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20|      2087-05-23|
| 7900| JAMES|    CLERK|7698|12-03-81| 950|null|    30|      2081-03-12|
| 7902|  FORD|  ANALYST|7566|12-03-81|3000|null|    20|      2081-03-12|
| 7934|MILLER|    CLERK|7782|01-03-82|1300|null|    10|      2082-03-01|
| 1234|SEKHAR|   doctor|7777|31-12-99| 667|  78|    80|      2099-12-31|
+-----+------+---------+----+--------+----+----+------+----------------+

In [9]:
spark.conf.get("spark.sql.legacy.timeParserPolicy")

'EXCEPTION'

In [10]:
spark.conf.set("spark.sql.legacy.timeParserPolicy","LEGACY")

In [11]:
df.withColumn("HIREDATE_CONVERT", to_date(col("HIREDATE"), format="dd-MM-yy")).show()

+-----+------+---------+----+--------+----+----+------+----------------+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|HIREDATE_CONVERT|
+-----+------+---------+----+--------+----+----+------+----------------+
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20|      1980-12-17|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30|      1981-02-20|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30|      1981-02-22|
| 7566| JONES|  MANAGER|7839|04-02-81|2975|null|    20|      1981-02-04|
| 7654|MARTIN| SALESMAN|7698|21-09-81|1250|1400|    30|      1981-09-21|
| 7698|   SGR|  MANAGER|7839|05-01-81|2850|null|    30|      1981-01-05|
| 7782|  RAVI|  MANAGER|7839|06-09-81|2450|null|    10|      1981-09-06|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20|      1987-04-19|
| 7839|  KING|PRESIDENT|null|01-11-81|5000|null|    10|      1981-11-01|
| 7844|TURNER| SALESMAN|7698|09-08-81|1500|   0|    30|      1981-08-09|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20|      1987-05-23|
| 7900| JAMES|    CLERK|7698|12-03-81| 950|null|    30|      1981-03-12|
| 7902|  FORD|  ANALYST|7566|12-03-81|3000|null|    20|      1981-03-12|
| 7934|MILLER|    CLERK|7782|01-03-82|1300|null|    10|      1982-03-01|
| 1234|SEKHAR|   doctor|7777|31-12-99| 667|  78|    80|      1999-12-31|
+-----+------+---------+----+--------+----+----+------+----------------+