Different ways to apply function on Column in Dataframe using PySpark

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession \
    .builder \
    .appName("ApplyFunctions") \
    .getOrCreate()

Create Dataframe

In [3]:
data = [
    ("João", 25, "Brasil", "Masculino", "Solteiro"),
    ("Maria", 30, "EUA", "Feminino", "Casada"),
    ("Pedro", 35, "Canadá", "Masculino", "Divorciado")
]
columns = ['Nome', 'Idade', 'Pais', 'Genero', 'EstadoCivil']
df = spark.createDataFrame(data, columns)
df.show(truncate=False)

+-----+-----+------+---------+-----------+
|Nome |Idade|Pais  |Genero   |EstadoCivil|
+-----+-----+------+---------+-----------+
|João |25   |Brasil|Masculino|Solteiro   |
|Maria|30   |EUA   |Feminino |Casada     |
|Pedro|35   |Canadá|Masculino|Divorciado |
+-----+-----+------+---------+-----------+

By Using withColumn(), sql(), select(), transform() you can apply a built-in function pr custom function to column

In [7]:
df.withColumn('Nome', upper(col('Nome'))).show()
df.select('Nome', upper('Genero').alias('Genero')).show()

+-----+-----+------+---------+-----------+
| Nome|Idade|  Pais|   Genero|EstadoCivil|
+-----+-----+------+---------+-----------+
| JOÃO|   25|Brasil|Masculino|   Solteiro|
|MARIA|   30|   EUA| Feminino|     Casada|
|PEDRO|   35|Canadá|Masculino| Divorciado|
+-----+-----+------+---------+-----------+

+-----+---------+
| Nome|   Genero|
+-----+---------+
| João|MASCULINO|
|Maria| FEMININO|
|Pedro|MASCULINO|
+-----+---------+

Using SQL()

In [9]:
df.createOrReplaceTempView('persons')
spark.sql("SELECT UPPER(NOME) as Nome from persons").show()

+-----+
| Nome|
+-----+
| JOÃO|
|MARIA|
|PEDRO|
+-----+

Transform() -> Custom Function

In [19]:
def upper_name(df):
    return df.withColumn("Nome", upper("Nome"))

df.transform(upper_name).show()

+-----+-----+------+---------+-----------+
| Nome|Idade|  Pais|   Genero|EstadoCivil|
+-----+-----+------+---------+-----------+
| JOÃO|   25|Brasil|Masculino|   Solteiro|
|MARIA|   30|   EUA| Feminino|     Casada|
|PEDRO|   35|Canadá|Masculino| Divorciado|
+-----+-----+------+---------+-----------+