How to read variable number of columns data
</BR> Reference: https://www.youtube.com/watch?v=R7PEwQzqYmY&list=PL50mYnndduIF868zbDUPMBpJpwJwd4NZh

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession \
    .builder \
    .getOrCreate()

Read Dataframe

In [62]:
df = spark.read.text('/home/phillipefs/spark_dev/pyspark-real-time-scenarios/data/dynamic_columns.csv')
df.show(truncate=False)

+-----------------------------------------+
|value                                    |
+-----------------------------------------+
|1,ravi                                   |
|2,ram,chennai                            |
|3,prasad,chennai,sample@gmail.com,9857454|
|4,Sam,Pune                               |
+-----------------------------------------+

In [63]:
df = df.withColumn('split_col', split('value', ',')).drop('value')
df.show(truncate=False)

+-----------------------------------------------+
|split_col                                      |
+-----------------------------------------------+
|[1, ravi]                                      |
|[2, ram, chennai]                              |
|[3, prasad, chennai, sample@gmail.com, 9857454]|
|[4, Sam, Pune]                                 |
+-----------------------------------------------+

In [64]:
max_numbers_columns = df.select(max(size('split_col'))).collect()[0][0]

for i in range(5):
    df = df.withColumn('col'+ str(i), col('split_col')[i])

df = df.drop('split_col')

df.show()

+----+------+-------+----------------+-------+
|col0|  col1|   col2|            col3|   col4|
+----+------+-------+----------------+-------+
|   1|  ravi|   null|            null|   null|
|   2|   ram|chennai|            null|   null|
|   3|prasad|chennai|sample@gmail.com|9857454|
|   4|   Sam|   Pune|            null|   null|
+----+------+-------+----------------+-------+